body {
    background: #D6DBDF;
    padding: 16px;
}

header {
    box-shadow: 5px 5px 5px #888888;
}

header a {
    text-decoration: none;
}

footer {
    background: #aab;
    box-shadow: 3px 3px 3px #888888;
    color: white;
    padding: 5px;
}
