<!DOCTYPE html>
<html lang="en">

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Add CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'dice/w3.css' %}">
    <link rel="shortcut icon" href="{% static 'dice/images/favicon.ico' %}">

    <title>dicey9000web</title>
  </head>

  <body class="w3-padding w3-light-grey">

    <header class="w3-container w3-round w3-black w3-card-8 w3-row-padding">
      <h1><a href="{% url 'dice:home' %}" class="w3-text-white w3-hover-text-red"
	     style="text-decoration:none">
	  <span class="w3-col" style="width:60px">
	    <img src="{% static 'dice/images/dice.png' %}" alt="dice" style="width:50px">
	  </span>
	  <span class="w3-rest">dicey9000</span>
      </a></h1>
    </header>

    <section class="w3-panel">
      <p class="w3-large"><strong class="w3-hover-text-red">dicey9000</strong> is a dice roll web app powered by
	<a href="https://www.djangoproject.com/" target="_blank" class="w3-text-red">Django</a>
	that was originally designed as a
	<a href="https://discordapp.com/" target="_blank" class="w3-text-red">Discord</a> bot.
	Check out source code for this page at
	<a href="https://github.com/brmedeiros/dicey9000web" target="_blank" class="w3-text-red">
	  Github.</a></p>
      <hr style="border-top: 1px solid LightGrey; margin-bottom: 0;">
	
    </section>

    <section class="w3-panel">
      <h3 class="w3-text-red">Dice Roller</h3>

      <div class="w3-row-padding">

	<div class="w3-col l3 m6">
	  <form method="post" novalidate>
	    {% csrf_token %}
	    {% load widget_tweaks %}
	    {{ form.non_field_errors }}
	    <div class="w3-row-padding">
	      {% for field in form %}
	      <div class="w3-col w3-margin-bottom">
		{% if field.label == "Roll Modifier" %}
		{{ field|add_class:"w3-input w3-border"|attr:"placeholder:0 for sum of the results" }}
		{% else %}
		{{ field|add_class:"w3-input w3-border" }}
		{% endif %}
		<label class="w3-label w3-text-red"><b>{{ field.label }}</b></label>
		{% for error in field.errors %}
		<span class="w3-text-red w3-tiny"><br>{{ error }}</span>
		{% endfor %}
	      </div>
	      {% endfor %}
	    </div>
	    <input type="submit" value="Roll!" class="w3-btn w3-red w3-ripple w3-margin-left w3-margin-bottom">
	  </form>
	</div>

	<div class="w3-rest w3-panel w3-border w3-leftbar">
	  <h3 class="w3-text-red">Roll Results</h4>
	  <div class="w3-large w3-leftbar w3-pale-red">
	    <p class="w3-margin-left" style="white-space:pre-wrap">{{ roll_output|safe }}</p></div>
	</div>
      </div>
    </section>

    <footer class="w3-panel w3-card-4 w3-padding-tiny w3-round w3-grey w3-text-white">
      dicey9000web &copy 2017 by
      <a href="https://github.com/brmedeiros/" target="_blank" style="text-decoration:none"
	 class="w3-hover-text-red">Bruno Medeiros</a>
    </footer>

  </body>
</html>
