<!DOCTYPE html>
<html lang="en">

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Add CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'dice/w3.css' %}">
    <link rel="shortcut icon" href="{% static 'dice/images/favicon.ico' %}">
    
    <title>dicey9000web</title>
  </head>
  
  <body class="w3-padding w3-light-grey">
  
    <header class="w3-container w3-round w3-black w3-card-8 w3-row-padding">
      <h1><a href="{% url 'dice:home' %}" class="w3-text-white w3-hover-text-red"
	     style="text-decoration:none">
      	  <span class="w3-col" style="width:60px">
      	    <img src="{% static 'dice/images/dice.png' %}" alt="dice" style="width:50px">
      	  </span>
      	  <span class="w3-rest">dicey9000</span>
      </a></h1>
    </header>

    <section class="w3-panel">
      <h3 class="w3-text-red">Hello!</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
	sagittis nunc justo, at cursus lectus pharetra vitae. Praesent sit
	amet pretium ligula. Sed cursus in quam vitae dignissim. Fusce
	commodo sapien et ex laoreet, eu semper lectus venenatis. Duis sed
	tortor in mi lobortis mattis eu quis libero. Vivamus interdum
	maximus scelerisque. Duis eu quam laoreet, varius magna id,
	consectetur neque.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
	sagittis nunc justo, at cursus lectus pharetra vitae. Praesent sit
	amet pretium ligula. Sed cursus in quam vitae dignissim. Fusce
	commodo sapien et ex laoreet, eu semper lectus venenatis. Duis sed
	tortor in mi lobortis mattis eu quis libero. Vivamus interdum
	maximus scelerisque. Duis eu quam laoreet, varius magna id,
	consectetur neque.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
	sagittis nunc justo, at cursus lectus pharetra vitae. Praesent sit
	amet pretium ligula. Sed cursus in quam vitae dignissim. Fusce
	commodo sapien et ex laoreet, eu semper lectus venenatis. Duis sed
	tortor in mi lobortis mattis eu quis libero. Vivamus interdum
	maximus scelerisque. Duis eu quam laoreet, varius magna id,
	consectetur neque.</p>
    </section>
    
    <section class="w3-panel">
      <h3 class="w3-text-red">Dice Roller</h3>
      <form action="" method="post">
	{% csrf_token %}
	<div class="w3-row-padding">
	  <div class="w3-quarter">
	    <input class="w3-input w3-border" type="text" value="{{ number_of_dice }}">
	    <label class="w3-label w3-text-red"><b>Number of Dice</b></label>
	  </div>
	  <div class="w3-quarter">
	    <input class="w3-input w3-border" type="text" value="{{ dice_type }}">
	    <label class="w3-label w3-text-red"><b>Dice Type</b></label>
	  </div>
	  <div class="w3-quarter">
	    <input class="w3-input w3-border" type="text" value="{{ roll_modifier }}">
	    <label class="w3-label w3-text-red"><b>Roll Modifier</b></label>
	  </div>
   	  <div class="w3-quarter">
	    <input class="w3-input w3-border" type="text" value="{{ explode_value }}">
	    <label class="w3-label w3-text-red"><b>Explode Value</b></label>
	  </div>
	  <div class="w3-quarter">
	    <input class="w3-input w3-border" type="text" value="{{ success_condition }}">
	    <label class="w3-label w3-text-red"><b>Success Condition</b></label>
	  </div>
	</div>
	<input type="submit" value="Roll!" class="w3-btn w3-red w3-ripple w3-margin-top w3-margin-left">
      </form>
    </section>
    
    <footer class="w3-panel w3-card-4 w3-padding-tiny w3-round w3-grey w3-text-white">
      dicey9000web &copy 2017 by Bruno Medeiros
    </footer>
  
  </body>
</html>
